---
layout: default
title: GreM@Pro - IT and Passion
htmlClass: html
bodyClass: body
---

<div class="container">


  <div class="media">
    <img class="mr-3" src='/icons/gremapro.png' alt="GreMaPro" width="150">
	
    <div class="media-body">
      <h1 class="mt-0">GreM@Pro</h1>
      Problemi e soluzioni di un sistemista <br>
      Sysadmin dal 2002. Sistemista senior e responsabile del sistema Cloud. <br>
      Appassionato di tecnologia. Sempre alla ricerca di nuove sfide e opportunit? di crescita. <br><br>
      Sviluppo web application per passione. <br>
      <br>
	  <a href="https://link.proietti.net/@maox">My Link</a> <br>
      <a href="/portfolio">Visualizza il mio Portfolio</a> <br>
    </div>
  </div>




</div>
