<footer>
      <p><a href="{{ site.url }}">{% icon "github" %}eleventy-webpack</a> - <time datetime="{{ build.timestamp | formatISO }}">{{ build.timestamp | format("dd LLL yyyy") }}</time></p>
    </footer>
    <script async defer src="{% webpack 'main.js' %}"></script>
  </body>
</html>
