---
layout: default
title: GreM@Pro - IT and Passion
htmlClass: html
bodyClass: body
Img: https://res.cloudinary.com/maox17/image/upload/c_scale,w_99/v1608883596/gremapro/logo_300_mmeeaj.png
---

<div class="container">

  <h1> Chi sono...  </h1>

  <div class="media">
    <img class="mr-3" src={{Img}} alt="GreMaPro">
    <div class="media-body">
      <h4 class="mt-0">GreM@Pro</h4>
      <ul>
        <li>
          <a href="https://www.maurizio.proietti.name/wp-content/uploads/2023/10/Curriculum_Maurizio_Proietti_2023.pdf">Curriculum di Maurizio Proietti</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/maurizioproietti/">Maurizio Proietti su Linkedin</a>
        </li>
        <li>
          <a href="https://github.com/MaoX17/">Maurizio Proietti su GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</div>
