---
layout: default
title: GreM@Pro - IT and Passion
htmlClass: html
bodyClass: body
---

<div class="container">

  <h1> {{ site.name }} </h1>

  <div class="media">
    <img class="mr-3" src={{site.image}} alt="GreMaPro">
    <div class="media-body">
      <h4 class="mt-0">GreM@Pro</h4>
      Sviluppo web application per passione. </br>
      Mi piace provare a realizzare le idee che mi vengono in mente e cercare di fare qualcosa di carino e funzionante.</br>
      Sviluppo, progetto e realizzo da solo ogni progetto.</br>
      </br>
      Visualizza il mio Portfolio </br>
      </br>
      Visualizza il mio GitHub </br>
    </div>
  </div>

</div>
