---
layout: default
title: GreM@Pro - IT and Passion
htmlClass: html
bodyClass: body
strailsImg: https://res.cloudinary.com/maox17/image/upload/v1608901432/strails/logo468_t_puc73x.png
o2uImg: https://res.cloudinary.com/maox17/image/upload/v1608902985/O2U/o2u_vsyxmb.png

---

<div class="container">

  <h1> {{ site.name }} </h1>
  <div class="row">

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{strailsImg}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Strails – Lo stato dei sentieri </h5>
            <p class="card-text">Social Trail State - Lo stato social dei sentieri
              Permette di condividere lo stato di un sentiero OSM o o di un segmento Strava.
              Può quindi essere un “aiuto” social agli utilizzatori dei sentieri ed ai trail builder o al
              CAI per sapere in che condizioni è un sentiero.
              In questo modo chi vuole fare un giro può pianificarlo in base allo stato dei sentieri che
              vuole attraversare e in caso di “problemi” i trailer  builder o il CAI saprebbero con più certezza dove e come intervenire.</p>
            <a href="https://www.strails.it/" class="btn btn-primary">Strails</a>
            <a class="text-dark" href="https://github.com/MaoX17/strails">{% icon "github" %} Strails on GitHub </a>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{o2uImg}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">O2U: from Ordering to yoU! </h5>
            <p class="card-text">O2U: from Ordering to yoU! è un innovativo servizio di self-ordering che
              permette ai clienti di ordinare con il proprio smartphone direttamente dal tavolo o dall'ombrellone</p>
          <a href="https://www.o2u.it/" class="btn btn-primary">O2U</a>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{strailsImg}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Strails – Lo stato dei sentieri </h5>
            <p class="card-text">Social Trail State - Lo stato social dei sentieri
              Permette di condividere lo stato di un sentiero OSM o o di un segmento Strava.
              Può quindi essere un “aiuto” social agli utilizzatori dei sentieri ed ai trail builder o al
              CAI per sapere in che condizioni è un sentiero.
              In questo modo chi vuole fare un giro può pianificarlo in base allo stato dei sentieri che
              vuole attraversare e in caso di “problemi” i trailer  builder o il CAI saprebbero con più certezza dove e come intervenire.</p>
            <a href="https://www.strails.it/" class="btn btn-primary">Strails</a>
          </div>
      </div>
    </div>

</div>

<div class="row">

  <div class="col">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{strailsImg}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Strails – Lo stato dei sentieri </h5>
            <p class="card-text">Social Trail State - Lo stato social dei sentieri
              Permette di condividere lo stato di un sentiero OSM o o di un segmento Strava.
              Può quindi essere un “aiuto” social agli utilizzatori dei sentieri ed ai trail builder o al
              CAI per sapere in che condizioni è un sentiero.
              In questo modo chi vuole fare un giro può pianificarlo in base allo stato dei sentieri che
              vuole attraversare e in caso di “problemi” i trailer  builder o il CAI saprebbero con più certezza dove e come intervenire.</p>
            <a href="https://www.strails.it/" class="btn btn-primary">Strails</a>
          </div>
      </div>
    </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{strailsImg}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Strails – Lo stato dei sentieri </h5>
            <p class="card-text">Social Trail State - Lo stato social dei sentieri
              Permette di condividere lo stato di un sentiero OSM o o di un segmento Strava.
              Può quindi essere un “aiuto” social agli utilizzatori dei sentieri ed ai trail builder o al
              CAI per sapere in che condizioni è un sentiero.
              In questo modo chi vuole fare un giro può pianificarlo in base allo stato dei sentieri che
              vuole attraversare e in caso di “problemi” i trailer  builder o il CAI saprebbero con più certezza dove e come intervenire.</p>
          <a href="https://www.strails.it/" class="btn btn-primary">Strails</a>
        </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{strailsImg}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Strails – Lo stato dei sentieri </h5>
            <p class="card-text">Social Trail State - Lo stato social dei sentieri
              Permette di condividere lo stato di un sentiero OSM o o di un segmento Strava.
              Può quindi essere un “aiuto” social agli utilizzatori dei sentieri ed ai trail builder o al
              CAI per sapere in che condizioni è un sentiero.
              In questo modo chi vuole fare un giro può pianificarlo in base allo stato dei sentieri che
              vuole attraversare e in caso di “problemi” i trailer  builder o il CAI saprebbero con più certezza dove e come intervenire.</p>
            <a href="https://www.strails.it/" class="btn btn-primary">Strails</a>
        </div>
      </div>
    </div>

</div>
