---
layout: default
title: GreM@Pro - IT and Passion
htmlClass: html
bodyClass: body

---

<div class="container">

  <h1> {{ site.name }} - <small> I miei appunti tecnici </small></h1>



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Argument</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>

        {%- for post in collections.post | reverse -%}
        <tr>
        <th scope="row">
          <a href={{ post.url }}><i class="{{ post.data.faicon }}"></i> {{ post.data.title }} </a>
        </th>
        <td>
          {%- for iconImg in post.data.icon -%}
            {% icon iconImg %}
          {%- endfor -%}
        </td>
        <td>
          <span class="badge badge-primary badge-pill">{{ post.data.date }}</span>
        </td>
        </tr>
        {%- endfor -%}


  </tbody>
</table>



</div>
