---
layout: default
title: GreM@Pro - IT and Passion
htmlClass: html
bodyClass: body
---

<div class="container">

  <h1> {{ site.name }} </h1>

  <h2> I miei appunti tecnici </h2>

  </br>

 <ul class="list-group">
    {%- for post in collections.post | reverse -%}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href={{ post.url }}> {{ post.data.title }} </a>
        <span class="badge badge-primary badge-pill">{{ post.data.date }}</span>
      </li>
    {%- endfor -%}
  </ul>




</div>
