---
tags: post
title: test x unsplash
layout: template_posts_md
htmlClass: html
unsplash: 11ty
faicon: "fas fa-code"
bodyClass: body
img: https://res.cloudinary.com/maox17/image/upload/v1608901432/strails/logo468_t_puc73x.png
---


# Rich link previews in Eleventy
This is a demonstration of rich link previews in Eleventy

{{"office" | imgRandom | safe}}



<br><br><br><br><br><br>


<img src="{{"office" | imgRandom | safe}}">

<!-- <img src="{{ post.data.unsplash | imgRandom | safe}}"> -->
